<div class="row">
    <div class="row">
    <div class="col-md-8 mx-auto">
      <h1>Mon Profil</h1>
      
      <div class="card mt-4">
        <div class="card-body">
          <p><strong>Prénom:</strong> <%= @user.first_name %></p>
          <p><strong>Nom:</strong> <%= @user.last_name %></p>
          <p><strong>Email:</strong> <%= @user.email %></p>
          <p><strong>Description:</strong> <%= @user.description || "Non renseignée" %></p>
          
          <%= link_to "Modifier email/mot de passe", edit_user_registration_path, class: "btn btn-primary mt-3" %>
      <h3 class="mt-5">Mes événements</h3>
      <% if @user.events.any? %>
        <ul class="list-group mt-3">
          <% @user.events.each do |event| %>
            <li class="list-group-item">
              <%= link_to event.title, event_path(event) %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="text-muted mt-3">Vous n'avez pas créé d'événement</p>
      <% end %>
    </div>
  </div>
</div>
